$body-bg: #f8fafc;
$font-varela-round: 'Varela Round', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$bg-primary: #ff6b6b;
$font-bhs: 'Black Han Sans', sans-serif;
