.nav-brand-link {
    position: relative;
}

.nav-brand {
    color: white;
    font-family: $font-varela-round;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.cl-mid-blue {
    color: #2c3e50 !important;
}

.nav-brand-slogan {
    font-family: $font-varela-round;
    position: absolute;
    font-size: 13px;
    opacity: .6;
    color: #ffffff;
    bottom: -7px;
    right: -46px;
}

.shporta-logo {
    width: 40px;
    height: 40px;
    background-image: url('../../../public/images/shporta.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.brand-container {
    display: flex;
    flex-direction: row;
}

//profile header
.welcome-text {
    position: relative;

    .cl-underline {
        position: absolute;
        bottom: 10px;
        width: 80%;
        height: 10px;
        background-color: rgba(255, 255, 255, .2);
    }
}
